*{margin: 0;
  padding: 0;}

a       {text-decoration: none;
        color: #FCD4DA;}

#link:link       {color:#FCD4DA;}
#link:visited    {color:#FCD4DA;} 
#link:hover      {color:#FA6815;}  
#link:active     {color:#FA6815;}

body    {background-color: #2E614B;}

h1      {color: #FCD4DA;
        font-family: 'Playfair Display', serif;
        font-weight: 100;
        line-height: 1;
        font-style: italic;
        font-size: 8vw;
        margin-top: 8vw;
        margin-left: 5vw;
        margin-right: 5vw;}

h2      {color: #FCD4DA;
        font-family: 'Playfair Display', serif;
        font-weight: 100;
        font-style: italic;
        font-size: 6vw;
        text-align: center;
        line-height: 2; }

h2:hover {color:#FA6815;}

h3      {color: #FA6815;
        font-family: 'Playfair Display', serif;
        font-weight: 100;
        font-style: italic;
        font-size: x-large;
        text-align: center;
        padding: 30px;}

p       {color: #FCD4DA;
        font-size: 2vw;
        padding-left: 10vw;
        padding-right: 10vw;
        font-family: 'Poppins', sans-serif;}


#on-site{color: #FA6815;}

#rute   {font-family: 'Poppins', sans-serif;
        font-style: normal;
        line-height: 4;}

/*MENU*/
                
header {position: fixed;
        width: 100%;
        z-index: 1;}
                
.hele-menu      {display: flex;
                justify-content: right;}

.hele-menu a:link       {color:#FCD4DA;}
.hele-menu a:visited    {color:#FCD4DA;} 
.hele-menu a:hover      {color:#FA6815;}  
.hele-menu a:active     {color:#FA6815;}

.nav-menu a     {padding-right: 45px;
                font-family: 'Playfair Display', serif;
                font-style: italic;
                font-size: 1vw;}

.burger-menu    {display: none;
                margin-top: 2px;
                margin-right: 45px;
                list-style: none;}

.burger-menu a {font-size:400%;
                font-family: 'Poppins', sans-serif;
                font-weight: 200;}
                
.logo   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: x-large;
        line-height: 1;
        margin-top: 40px;
        margin-left: 45px;}

@keyframes color-change {0% {color:#2E614B;}
                        25% {color:#FA6815;}
                        75% {color:#FCD4DA;}
                        100% {color:#2E614B;}}
                

/*FORSIDEN*/

        
.scroller       {visibility: visible;
                height: 100vh;
                overflow-y: scroll;
                scroll-snap-type: y mandatory;
                scroll-behavior: smooth;
                z-index: 0;}

.scroll-item    {position: relative;
                text-align: center;
                width: 100%;
                align-items: center;
                justify-content: center;
                color: white;
                font-family: 'Poppins', sans-serif;
                scroll-snap-align: start;}

#scroll1        {width: 100%;
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#scroll2        {background-image: url(billeder+video/bogkælder.mp4);
                width: 100%;
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#scroll3        {background-image: url(billeder+video/gaijinramen.mp4);
                width: 100%;
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#scroll4        {background-image: url(billeder+video/kryptkirken.mp4);
                width: 100%;
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#scroll5        {background-image: url(billeder+video/studenterbaren.mp4);
                width: 100%;
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}
      
.on-top        {position: absolute;}

#text-on{top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}

#info   {top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5vw;}

/*navigation scroll*/

#nav-scroll     {list-style: none;
                color: #FCD4DA;
                font-size: large;    
                bottom: 30px;
                left: 90px;}

#nav-scroll a:link{color:#FCD4DA;}
#nav-scroll a:visited{color: #FCD4DA;} 
#nav-scroll a:hover{color: #FA6815;}  
#nav-scroll a:active{color: #FA6815;}

/*MENU SIDEN*/

.menu-side      {font-family: 'Playfair Display', serif;
                font-style: italic;
                font-size: 6vw;
                padding-top:250px;
                list-style: none;
                text-align: center;}

.menu-side a:link{color:#FCD4DA;}
.menu-side a:visited{color: #FCD4DA;} 
.menu-side a:hover{color: #FA6815;}  
.menu-side a:active{color: #FA6815;}

/*UNDERSIDERNE*/

.video-article  {aspect-ratio: 16/9;
                width: 100%;}

.scroller-article       {visibility: visible;
                        height: 100vh;
                        overflow-y: scroll;
                        scroll-snap-type: y mandatory;
                        scroll-behavior: smooth;
                        z-index: 0;}

h4              {color: #FCD4DA;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                line-height: 1;
                font-style: italic;
                font-size: 9vw;
                text-align: center;
                padding-top: 100px;
                padding-left: 6vw;
                padding-right: 6vw;}

.article-content{text-align: left;
                padding-left: 15vw;
                padding-right: 15vw;
                padding-top: 50px;}

img     {display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top: 50px;}

#video{width: 100%;
        height: 100%;}

#scroll10       {height: auto;}

#læsmere        {color: #FCD4DA;
                font-family: 'Playfair Display', serif;
                font-style: italic;
                font-size: x-large;  
                bottom: 30px;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: color-change 3s infinite;}

#læsmindre      {color: #FCD4DA;
                font-family: 'Playfair Display', serif;
                font-style: italic;
                font-size: x-large;  
                top:10%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: color-change 3s infinite;}

/*RESPONSIVT WEBDESIGN*/

@media only screen and (max-width: 1000px){
        
        .hele-menu{visibility: hidden;} 
        .burger-menu{visibility: visible; display: list-item;} 
        #nav-scroll{visibility: hidden;}
        .article-content{padding-left: 50px; padding-right: 50px;}
        #headline1{padding-top: 50%;}
        #headline2{padding-top: 50%;}
        h1{margin-top: 30vw;}
        h4{padding-top: 5vw;} 
        p{font-size: 2vw;}
        #info{font-size: 4vw;}}

@media only screen and (max-width: 664px){
        p{font-size: 3vw;}
        #læsmere{top: 83%;}
        #læsmindre{top:17%;}}

@media only screen and (max-width: 414px){
        
        .hele-menu{visibility: hidden;} 
        .burger-menu{visibility: visible;} 
        #nav-scroll{visibility: hidden;}
        .article-content{padding-left: 40px; padding-right: 40px;}
        h1{margin-top: 40vw; font-size: 12vw;}
        h4{padding-top: 8vw;} 
        h2{font-size: 10vw; width: 100%;}
        p{padding-left: 2vw; padding-right: 2vw; font-size: 4vw;}
        .logo{margin-left: 30px; font-size: medium;}
        #info{font-size: 5vw;}}
