*{margin: 0;
  padding: 0;}

a       {text-decoration: none;
        color: white;}

body    {background-color: brown;}

h4      {font-family: 'Playfair Display', serif;
        font-size: large;
        text-align: center;
        padding: 30px;}

#on-site{color: #d2691e;}

/*MENU*/
                
header {position: fixed;
        width: 100%;
        z-index: 1;}
                
.hele-menu      {display: flex;
                justify-content: right;}

.hele-menu a:link       {color:white;}
.hele-menu a:visited    {color: white;} 
.hele-menu a:hover      {color: chocolate;}  
.hele-menu a:active     {color: #d2691e;}
                
.nav-menu a     {padding-right: 30px;
                font-family: 'Playfair Display', serif;
                font-size: 120%;}

.burger-menu    {visibility: hidden;
                margin-top: 2px;
                margin-right: 70px;}

.burger-menu a {font-size:400%;
                font-family: 'Poppins';
                font-weight: 200;}
                
.logo   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: x-large;
        width: 150px;
        margin-left: 70px;
        margin-top: 40px;
        animation: color-change 3s infinite;}

@keyframes color-change {0% { color: #EFD1B9; }
                        50% { color: #E18383; }
                        100% { color: #EFD1B9; }}

.ikoner{margin-right: 70px;}
                
#Current{font-style: italic;}

/*FORSIDEN*/

.scroller       {height: 100vh;
                overflow-y: scroll;
                scroll-snap-type: y mandatory;
                scroll-behavior: smooth;
                z-index: 0;}

.scroll-item    {position: relative;
                text-align: center;
                width: 100%;
                height: 100vh;
                align-items: center;
                justify-content: center;
                color: white;
                font-family: 'Poppins', sans-serif;
                scroll-snap-align: start;}

#scroll1        {width: 100%;
                background-color: blue;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#scroll2        {display: flex;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);}

#scroll3       {display: flex;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);}

#scroll4       {display: flex;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);}

/*Anden side*/

.kælder-card    {position: relative;
                width: 100%;
                height: 100vh;
                display: flex;}

#kælder-card1   {width: 100%;
                background-image: url(billeder+video/kryptkirken.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#kælder-card2   {width: 100%;
                background-image: url(billeder+video/kryptkirken.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#kælder-card3   {width: 100%;
                background-image: url(billeder+video/kryptkirken.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

#kælder-card4   {width: 100%;
                background-image: url(billeder+video/kryptkirken.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;}

.kælder-img     {display: flex;
                width: 100%;
                height: 100vh;}

.kælder-overlay {position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: brown;
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: .5s ease;}

.kælder-card:hover .kælder-overlay {height: 50%;}

.kælder-text    {color: white;
                font-size: 20px;
                position: absolute;
                overflow: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);}

/*Tredje side*/

.card  {display: flex;
        flex-wrap: wrap;
        height: 100vh;
        width: 80%;
        overflow: hidden;}

.card-text     {color: black;
                font-family: 'Poppins', sans-serif;
                text-align: center;
                height: 100vh;
                padding: 20px;
                text-align: left;}

#card-text1     {background-color: blue;}
#card-text2     {background-color: brown;}


#card-img1      {background-image: url(billeder+video/kryptkirken.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 50%;}

#card-img2      {background-image: url(billeder+video/kryptkirken.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 50%;}
      
.on-top        {position: absolute;}

#text-on{top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}

#nav-scroll     {list-style: none;
                color: white;
                font-size: large;    
                bottom: 30px;
                left: 90px;}

#nav-scroll a:link{color:white;}
#nav-scroll a:visited{color: white;} 
#nav-scroll a:hover{color: chocolate;}  
#nav-scroll a:active{color: chocolate;}

/*MENU SIDEN*/

.menu-side      {padding: 300px;}

/*UNDERSIDERNE*/
.article{padding-top: 220px;
        z-index: 0;}

.article p      {padding: 50px;}

.first-article-img      {width: 100%;
                        height: 400px;
                        background-image: url(billeder+video/kryptkirken.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;}

/*RESPONSIVT WEBDESIGN*/

@media only screen and (max-width: 800px){
        
        .hele-menu{visibility: hidden;} 
        .burger-menu{visibility: visible;} 
        #nav-scroll{visibility: hidden;}
                                       
                                        }
