/*DETTE GÆLDER ALT*/
*{
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    color: #1d4028;
    overscroll-behavior-inline: contain;
}

body{
    background-color: #fff5e4;
  }

h1{
    font-weight: 400;
    font-size: 300%;
}

/*Logo og menu*/
    /*Logo*/
.logo {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
  }

  .logo img{
    width: 30px;
  }

    /*MENU*/
    /*Menu forside*/
    .menu-for {
        list-style: none;
        text-align: center;
        display: grid;
        grid-template-columns: 500px 300px 500px;
        position: fixed;
        bottom: 0;
        padding: 70px;
        padding-bottom: 20px;
      }

      .menu-for a{
        color: #1d4028;
        text-decoration: none;
        padding: 30px;
        font-size: x-large;
      }
    
    .menu-for a:link{
        color: #1d4028;
      }
    
    .menu-for a:visited{
        color: #1d4028;
    }
    
    .menu-for a:hover{
        font-weight: bold;
    }
    
    .menu-for li a:active{
        font-weight: bold;
    }
    
    .menu-for .paa{
        font-weight: bold;
    }

  /*Menu alle*/
  .menu {
    background-image: url("prikker2.png");
    text-align: center;
    display: grid;
    grid-template-columns: 500px 300px 500px;
    position: fixed;
    bottom: 0;
    padding: 70px;
    padding-bottom: 20px;
  }

  .menu a{
    color: #1d4028;
    text-decoration: none;
    padding: 30px;
    font-size: x-large;
  }

  .menu li{
    list-style: none;
  }

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    bottom: 30px;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #1d4028;
    margin-left: 85px;
    padding: 12px;
    text-decoration: none;
    display: flex;
    text-align: right;
    font-size: small;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.menu a:link{
    color: #1d4028;
  }

.menu a:visited{
    color: #1d4028;
}

.menu a:hover{
    font-weight: bold;
}

.menu li a:active{
    font-weight: bold;
}

.menu .paa{
    font-weight: bold;
}

/*Forsiden*/
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

.overskrift{
    position: fixed;
    top: 40%;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #fff5e4;
  }

 /*Kombucha & kroppen*/

 .tarm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

/* Container (billede af tarm og tekster) */
.container {
    position: relative;
    text-align: left
  }

.tekst-container{
    color: #1d4028;
}

 /* overskrift tekst */
 .top{
    position: absolute;
    top: 18px;
    left: 100px;
    font-weight: 200;
    color: #1d4028;
  }

  /* Første tekst */
.et{
    position: absolute;
    top: 300px;
    right: 50px;
    font-size: x-large;
  }

  /* Anden tekst */
.to{
    position: absolute;
    top: 600px;
    left: 200px;
    font-size: x-large;
  }

    /* trejde tekst */
.tre{
    position: absolute;
    top: 1000px;
    right: 100px;
    font-size: x-large;
  }

      /* fjerde tekst */
.fire{
    position: absolute;
    top: 1300px;
    left: 100px;
    font-size: x-large;
  }

    /* femte tekst */
.fem{
    position: absolute;
    bottom: 200px;
    right: 70px;
    font-size: x-large;
  }
  

 /*BRYG SELV*/

 .bryg-overskrift{
    font-size: xx-large;
    margin-left: 150px;
    margin-top: 20px;
}

 /*Oversigt over kombucha brygning*/
 .oversigt{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    font-size: x-large;
 }

 .oversigt > div{
    background-image: url("prikker.png");
    background-color: #e1af7c;
    text-align: left;
    flex-basis: 60px;
    align-self: baseline;
    align-self: stretch;
    margin: 10px;
    padding: 8px;
}

.oversigt-img{
    width: 150px;
    margin-top: 8px;
}
 
.oversigt div h2{
    color: #fff5e4;
    font-weight: 400;
}

.oversigt div p{
    color: #1d4028;
}

#videoin{
    height: 400px;
}

/*Ingredienseliste*/
 .ingredienser{
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
    line-height: 40px;
 }

 .ingredienser div{
    padding-right: 70px;
 }

 #mål{
    text-align: right;
    width: 150px;
 }

/*Fremgangsmåde*/
.billede-tekst{
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.billede-tekst p{
    padding: 20px;
    height: 560px;
    background-color: #e1af7c;
    font-size: large;
    scroll-snap-align: start;
}

.b-t{
    padding: 20px;
    position: absolute;
    color: #fff5e4;
    font-size: xx-large;
    font-weight: 400;
}

.fremgangsmåde{
    margin-left: 150px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overscroll-behavior-inline: contain;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.frembil{
    width: 300px;
    height: 600px;
}

/*Smag*/

.slider-wrapper{
    position: relative;
    margin: 0 auto;
}

.slider{
    display: flex;
    margin-top: 50px;
    margin-bottom: 90px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img{
    flex: 1 0 100%;
    width: 500px;
    height: 500px;
    scroll-snap-align: start;
    object-fit: contain;
}



 /*HISTORIE*/
.historie{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    
}
